<!DOCTYPE html>
<html>
  <head>
    <title>Express-Boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col col-4">
            <a class="logo" href="/">Express-Boilerplate</a>
          </div>
          <div class="col col-8 right">
            <nav>
              <a href="/">Home</a> |
              <a href="/users">All Users</a> |
              <a href="/users/new">New User</a> |
              <a href="/posts">Posts api</a>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div id="main" class="container">

      {{{body}}}

    </div>

  </body>
</html>
