<!DOCTYPE html>
<html>
  <head>
    <title>Express-Boilerplate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Express-Boilerplate</h1>
    </header>

    {{{body}}}
  </body>
</html>
