<h3>Welcome to Express-Boilerplate</h3>

<h4>Users: Static HTML</h4>
<ul>
  <li><a href="/users">Users index.html</a></li>
  <li><a href="/users/new">Create new user</a></li>
</ul>

<h4>Posts: Restful API</h4>
<ul>
  <li><a href="/posts">Posts index JSON</a></li>
</ul>
